body{
    margin: 0;
    padding:0;
    height: 100vh;
    font-size:14px;
}
#root{
    height: 100%;
}
.background{
    background-position: center !important;
    background: url('./background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container_quiz{
    background:url('./panel.png');
    background-repeat: no-repeat;
    width: 580px;
    height: 300px;
    text-align: center;
    position: absolute;
    bottom: -2.5em;
}
.pregunta1{
    padding-top: 9em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    font-weight: 700;
}
.radio1{
    padding-top:0.5em;
}
.pregunta1, .radio1 {
    color: #fff;
}
.img_quiz1{
    padding-right:9.8em;
    padding-bottom:0em;
}
.button2{
    color:#93d4d7;
    font-weight: bold;
    text-align-last: right;
    padding-right: 4.5em;
    margin-top:-2em;
    cursor: pointer;
}
.img_container{
    background-image: url('./preguntas_off.png');
    background-repeat: no-repeat;
    width:730px;
    height:380px;
    top: 1em;
    background-position: center;
}
@media(min-width:2880px){
    .img_container{
        top:27em !important;
    }
    .container_quiz1{
        bottom:30em !important;
    }
}
@media only screen and (min-width: 1824px){
    .img_container{
        top:20em;
    }
    .container_quiz1{
        bottom:4em !important;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .app{
        left:5em;
    }
    body{
    background: url('./bg1.jpg');
    }
  }