body{
    margin: 0;
    padding:0;
    height: 100vh;
}
#root{
    height: 100%;
}
.background{
    background-position: center !important;
    background: url('./background.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}
.container_quiz1{
    background:url('./panel.png');
    background-repeat: no-repeat;
    width: 580px;
    height: 300px;
    text-align: center;
    position: absolute;
    bottom: 1em;
}

.pregunta3, .radio3{
    color: #fff;
    padding: 0.5em;
}

.pregunta3{
    text-align: center;
    font-weight: 700;
    padding-top:6em;
    padding-right:1.5em;
    padding-left:1.5em;
}
.button4{
    color:#93d4d7;
    font-weight: bold;
    text-align-last: right;
    padding-right: 4.5em;
    cursor: pointer;
    margin-top:-2em;
}

@media(min-width:2880px){
    .img_container{
        top:27em;
    }
    .container_quiz1{
        bottom:27em !important;
    }
}
@media(min-width:1920px){
    .img_container{
        top:20em;
    }
    .container_quiz1{
        bottom:10em;
    }
}