body{
    margin: 0;
    padding:0;
    height: 100vh;
}
#root{
    height: 100%;
}
.intro{
    background-position: center !important;
    background: url('./INTRO.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media (max-width:800px){
    .intro{
        background: url('./bg_intro.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


