body{
    margin: 0;
    padding:0;
    height: 100vh;
}
#root{
    height: 100%;
}
.background{
    background-position: center !important;
    background: url('./background.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}
.container_quiz1{
    background: #487a95;
    position: absolute;
    width: 550px;
    height: 250px;
    padding: 10px;
    bottom:-27em;
    top: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    left: 0;
    border-radius: 20px;
    text-align: center;
}

.pregunta2, .radio2 {
    color: #fff;
    padding: 0.5em;
}

.pregunta2{
    text-align: center;
    font-weight: 700;
}
.button3{
    color:#93d4d7;
    font-weight: bold;
    text-align-last: right;
    padding-right: 4.5em;
    cursor:pointer;
}

.imagenes_quiz1{
    left:-2em;
    top:2.5em;
    position: absolute;
}
@media (max-width:760px){
    .background{
        background: url('./bg1.jpg');
        background-size: contain;
        font-size: 12px;
    }
    .pregunta2{
        margin-top: 420px;
        width:350px;
        margin-left:2px;
        position: absolute;
        text-align: center;
        color:white;
        font-weight: bold;
    }
    .radio2{
        margin-top: 460px;
        position: absolute;
        margin-left: 50px;
        text-align: left;
        color:white;
    }
    .imagenes_quiz2{
        margin-left: -305px;
        margin-top:60px;
        position: absolute;
        transform: scale(0.7);
    }
}